### Q1. What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use MongoDB over SQL databases?

MongoDB is a free, open-source, non-relational document database management system (DBMS).
It's a distributed database that's designed for high availability, horizontal scaling, and geographic distribution. 
MongoDB uses flexible documents instead of tables and rows to store and process data, and it supports JSON-like storage. <br><br>

A non-relational database, also known as a NoSQL database, is a database that stores data in a different format than traditional relational databases.
Non-relational databases don't use a tabular schema of rows and columns, but instead use a storage model that's optimized for the specific type of data being stored.
This can include data structures like documents, which can contain a range of different types of information in different formats. <br><br>

MongoDB is a document database that's a good choice for scenarios where you need to store, manage, and search unstructured data, or data that doesn't fit well into a relational database schema.
Here are some other scenarios where MongoDB is better than SQL:<br>
1.MongoDB is better for simple queries on large collections of unstructured data, while SQL is better for complex queries that involve multiple tables.<br>
2.MongoDB is highly scalable and can handle large volumes of data and traffic, while SQL databases require more effort to scale horizontally.<br>
3.MongoDB's document-oriented nature and use of cache and RAM can enable faster retrieval and better performance than traditional relational databases.

### Q2. State and Explain the features of MongoDB.

MongoDB is a popular NoSQL database known for its flexibility, scalability, and ease of use. Here are the key features of MongoDB, along with explanations for each:

**Document-Oriented Storage**:
MongoDB stores data in JSON-like documents, which allows for flexible and hierarchical data structures. Each document can have different fields, making it easy to model complex data relationships and nested data.

**Schema Flexibility**:
Unlike traditional relational databases, MongoDB does not require a fixed schema. This means you can insert documents with varying structures into the same collection, allowing for more dynamic and adaptable data models.

**Indexing**:
MongoDB supports various types of indexes, including single field, compound, geospatial, and text indexes. Indexing improves query performance by allowing the database to quickly locate the data needed.

**High Availability**:
MongoDB ensures high availability through replica sets. A replica set consists of multiple copies of the data, with one primary node and multiple secondary nodes. If the primary node fails, one of the secondary nodes can be promoted to primary, ensuring continuous availability.

**Scalability**:
MongoDB supports horizontal scaling through sharding, which distributes data across multiple servers. Sharding allows the database to handle large amounts of data and high throughput operations by distributing the load across multiple machines.
 
**Rich Query Language**:
MongoDB offers a rich query language with support for a wide range of operations, including CRUD (Create, Read, Update, Delete), projection, sorting, and pagination. The query language is expressive and allows for the construction of complex queries.

**Full-Text Search**:
MongoDB provides full-text search capabilities, allowing for efficient searching of text within documents. This feature includes support for text indexes and text search operations, enabling applications to perform search queries with ease.
  
**Support for Multiple Storage Engines**:
MongoDB supports multiple storage engines, such as WiredTiger and In-Memory Storage Engine, allowing users to choose the engine that best suits their performance and operational requirements.

### Q3. Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.

In [1]:
pip install pymongo

Collecting pymongo
  Downloading pymongo-4.7.3-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (669 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 669.1/669.1 kB 16.8 MB/s eta 0:00:0000:01
Collecting dnspython<3.0.0,>=1.16.0
  Downloading dnspython-2.6.1-py3-none-any.whl (307 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 307.7/307.7 kB 30.4 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.6.1 pymongo-4.7.3
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pymongo
client=pymongo.MongoClient("mongodb+srv://tanmaysharma123:tanmay123@cluster0.czeutbt.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0")
db=client.test

In [6]:
db=client['database_students']

In [7]:
coll_create=db['students_info']

### Q4. Using the database and the collection created in question number 3, write a code to insert one record, and insert many records. Use the find() and find_one() methods to print the inserted record.

In [9]:
data1={
    'RollNo':1,
    'Name':'Tanmay',
    'email':'iamtnmy01@gmail.com'
}

In [10]:
coll_create.insert_one(data1)

InsertOneResult(ObjectId('666a87c493ebd6094eaabe29'), acknowledged=True)

In [22]:
data2=(
    {'RollNo':11,'Name':'Bambi','email':'bam@anymail.com'},
    {'RollNo':21,'Name':'Richy','Result':'Pass'},
    {'RollNo':15,'Name':'Karl','Phone':345123},
    {'RollNo':17,'Name':'Gimmy','Adress':'12,Saket'},
    {'RollNo':9,'Name':'Tim','Result':'Fail'},
    {'RollNo':3,'Name':'Dennisy','Result':'Pass'},
    {'RollNo':12,'Name':'Sinton','Result':'Pass'},
    {'RollNo':6,'Name':'Max','Result':'Pass'},
    {'Helping Staff':['Mira Patel','E.Cook','Sadao Hoki']}
)

In [23]:
coll_create.insert_many(data2)

InsertManyResult([ObjectId('666a905c93ebd6094eaabe2f'), ObjectId('666a905c93ebd6094eaabe30'), ObjectId('666a905c93ebd6094eaabe31'), ObjectId('666a905c93ebd6094eaabe32'), ObjectId('666a905c93ebd6094eaabe33'), ObjectId('666a905c93ebd6094eaabe34'), ObjectId('666a905c93ebd6094eaabe35'), ObjectId('666a905c93ebd6094eaabe36'), ObjectId('666a905c93ebd6094eaabe37')], acknowledged=True)

In [24]:
coll_create.find_one()

{'_id': ObjectId('666a87c493ebd6094eaabe29'),
 'RollNo': 1,
 'Name': 'Tanmay',
 'email': 'iamtnmy01@gmail.com'}

In [25]:
for i in coll_create.find():
    print(i)

{'_id': ObjectId('666a87c493ebd6094eaabe29'), 'RollNo': 1, 'Name': 'Tanmay', 'email': 'iamtnmy01@gmail.com'}
{'_id': ObjectId('666a89db93ebd6094eaabe2a'), 'RollNo': 2, 'Name': 'Utkarsh', 'email': 'utk@anymail.com'}
{'_id': ObjectId('666a89db93ebd6094eaabe2b'), 'RollNo': 6, 'Name': 'Max', 'Result': 'Pass'}
{'_id': ObjectId('666a89db93ebd6094eaabe2c'), 'RollNo': 5, 'Name': 'Emmy', 'Phone': 12345}
{'_id': ObjectId('666a89db93ebd6094eaabe2d'), 'RollNo': 7, 'Name': 'Mihir', 'Adress': 'St.12 City Square'}
{'_id': ObjectId('666a89db93ebd6094eaabe2e'), 'TEACHER': ['Anurag Kashyap', 'M.Hamel', 'Sadao Hoki']}
{'_id': ObjectId('666a905c93ebd6094eaabe2f'), 'RollNo': 11, 'Name': 'Bambi', 'email': 'bam@anymail.com'}
{'_id': ObjectId('666a905c93ebd6094eaabe30'), 'RollNo': 21, 'Name': 'Richy', 'Result': 'Pass'}
{'_id': ObjectId('666a905c93ebd6094eaabe31'), 'RollNo': 15, 'Name': 'Karl', 'Phone': 345123}
{'_id': ObjectId('666a905c93ebd6094eaabe32'), 'RollNo': 17, 'Name': 'Gimmy', 'Adress': '12,Saket'}
{'_id': ObjectId('666a905c93ebd6094eaabe33'), 'RollNo': 9, 'Name': 'Tim', 'Result': 'Fail'}
{'_id': ObjectId('666a905c93ebd6094eaabe34'), 'RollNo': 3, 'Name': 'Dennisy', 'Result': 'Pass'}
{'_id': ObjectId('666a905c93ebd6094eaabe35'), 'RollNo': 12, 'Name': 'Sinton', 'Result': 'Pass'}
{'_id': ObjectId('666a905c93ebd6094eaabe36'), 'RollNo': 6, 'Name': 'Max', 'Result': 'Pass'}
{'_id': ObjectId('666a905c93ebd6094eaabe37'), 'Helping Staff': ['Mira Patel', 'E.Cook', 'Sadao Hoki']}

### Q5. Explain how you can use the find() method to query the MongoDB database. Write a simple code to demonstrate this.

The find() method in MongoDB is used to query documents within a collection. It allows you to specify criteria to filter the documents you want to retrieve.

In [26]:
# illusration 1
for i in coll_create.find():
    print(i)

{'_id': ObjectId('666a87c493ebd6094eaabe29'), 'RollNo': 1, 'Name': 'Tanmay', 'email': 'iamtnmy01@gmail.com'}
{'_id': ObjectId('666a89db93ebd6094eaabe2a'), 'RollNo': 2, 'Name': 'Utkarsh', 'email': 'utk@anymail.com'}
{'_id': ObjectId('666a89db93ebd6094eaabe2b'), 'RollNo': 6, 'Name': 'Max', 'Result': 'Pass'}
{'_id': ObjectId('666a89db93ebd6094eaabe2c'), 'RollNo': 5, 'Name': 'Emmy', 'Phone': 12345}
{'_id': ObjectId('666a89db93ebd6094eaabe2d'), 'RollNo': 7, 'Name': 'Mihir', 'Adress': 'St.12 City Square'}
{'_id': ObjectId('666a89db93ebd6094eaabe2e'), 'TEACHER': ['Anurag Kashyap', 'M.Hamel', 'Sadao Hoki']}
{'_id': ObjectId('666a905c93ebd6094eaabe2f'), 'RollNo': 11, 'Name': 'Bambi', 'email': 'bam@anymail.com'}
{'_id': ObjectId('666a905c93ebd6094eaabe30'), 'RollNo': 21, 'Name': 'Richy', 'Result': 'Pass'}
{'_id': ObjectId('666a905c93ebd6094eaabe31'), 'RollNo': 15, 'Name': 'Karl', 'Phone': 345123}
{'_id': ObjectId('666a905c93ebd6094eaabe32'), 'RollNo': 17, 'Name': 'Gimmy', 'Adress': '12,Saket'}
{'_id': ObjectId('666a905c93ebd6094eaabe33'), 'RollNo': 9, 'Name': 'Tim', 'Result': 'Fail'}
{'_id': ObjectId('666a905c93ebd6094eaabe34'), 'RollNo': 3, 'Name': 'Dennisy', 'Result': 'Pass'}
{'_id': ObjectId('666a905c93ebd6094eaabe35'), 'RollNo': 12, 'Name': 'Sinton', 'Result': 'Pass'}
{'_id': ObjectId('666a905c93ebd6094eaabe36'), 'RollNo': 6, 'Name': 'Max', 'Result': 'Pass'}
{'_id': ObjectId('666a905c93ebd6094eaabe37'), 'Helping Staff': ['Mira Patel', 'E.Cook', 'Sadao Hoki']}

In [28]:
# illustration 2 : Find with a Query Filter
query={'Name':'Mihir'}
for i in coll_create.find(query):
    print(i)

{'_id': ObjectId('666a89db93ebd6094eaabe2d'), 'RollNo': 7, 'Name': 'Mihir', 'Adress': 'St.12 City Square'}

In [29]:
# illustration 3: Find documents with a query filter and projection
query={'Result':'Pass'}
projection={'_id':0,'Name':1}
for result in coll_create.find(query,projection):
    print(result)

{'Name': 'Max'}
{'Name': 'Richy'}
{'Name': 'Dennisy'}
{'Name': 'Sinton'}
{'Name': 'Max'}

### Q6. Explain the sort() method. Give an example to demonstrate sorting in MongoDB.
The sort() method in MongoDB is used to sort the results of a query in ascending or descending order based on one or more fields. Sorting is particularly useful when you need the results in a specific order, such as sorting by date, name, or other attributes.<br>
Syntax of sort():  " cursor.sort(sort_specification) "<br>
sort_specification: This is a list of tuples or a dictionary specifying the fields to sort by and the order of sorting.
Each tuple or dictionary entry consists of a field name and a direction (1 for ascending and -1 for descending).

In [31]:
for j in coll_create.find().sort('Name'):
    print(j)

{'_id': ObjectId('666a89db93ebd6094eaabe2e'), 'TEACHER': ['Anurag Kashyap', 'M.Hamel', 'Sadao Hoki']}
{'_id': ObjectId('666a905c93ebd6094eaabe37'), 'Helping Staff': ['Mira Patel', 'E.Cook', 'Sadao Hoki']}
{'_id': ObjectId('666a905c93ebd6094eaabe2f'), 'RollNo': 11, 'Name': 'Bambi', 'email': 'bam@anymail.com'}
{'_id': ObjectId('666a905c93ebd6094eaabe34'), 'RollNo': 3, 'Name': 'Dennisy', 'Result': 'Pass'}
{'_id': ObjectId('666a89db93ebd6094eaabe2c'), 'RollNo': 5, 'Name': 'Emmy', 'Phone': 12345}
{'_id': ObjectId('666a905c93ebd6094eaabe32'), 'RollNo': 17, 'Name': 'Gimmy', 'Adress': '12,Saket'}
{'_id': ObjectId('666a905c93ebd6094eaabe31'), 'RollNo': 15, 'Name': 'Karl', 'Phone': 345123}
{'_id': ObjectId('666a89db93ebd6094eaabe2b'), 'RollNo': 6, 'Name': 'Max', 'Result': 'Pass'}
{'_id': ObjectId('666a905c93ebd6094eaabe36'), 'RollNo': 6, 'Name': 'Max', 'Result': 'Pass'}
{'_id': ObjectId('666a89db93ebd6094eaabe2d'), 'RollNo': 7, 'Name': 'Mihir', 'Adress': 'St.12 City Square'}
{'_id': ObjectId('666a905c93ebd6094eaabe30'), 'RollNo': 21, 'Name': 'Richy', 'Result': 'Pass'}
{'_id': ObjectId('666a905c93ebd6094eaabe35'), 'RollNo': 12, 'Name': 'Sinton', 'Result': 'Pass'}
{'_id': ObjectId('666a87c493ebd6094eaabe29'), 'RollNo': 1, 'Name': 'Tanmay', 'email': 'iamtnmy01@gmail.com'}
{'_id': ObjectId('666a905c93ebd6094eaabe33'), 'RollNo': 9, 'Name': 'Tim', 'Result': 'Fail'}
{'_id': ObjectId('666a89db93ebd6094eaabe2a'), 'RollNo': 2, 'Name': 'Utkarsh', 'email': 'utk@anymail.com'}

In [32]:
for j in coll_create.find().sort('Name',-1):
    print(j)

{'_id': ObjectId('666a89db93ebd6094eaabe2a'), 'RollNo': 2, 'Name': 'Utkarsh', 'email': 'utk@anymail.com'}
{'_id': ObjectId('666a905c93ebd6094eaabe33'), 'RollNo': 9, 'Name': 'Tim', 'Result': 'Fail'}
{'_id': ObjectId('666a87c493ebd6094eaabe29'), 'RollNo': 1, 'Name': 'Tanmay', 'email': 'iamtnmy01@gmail.com'}
{'_id': ObjectId('666a905c93ebd6094eaabe35'), 'RollNo': 12, 'Name': 'Sinton', 'Result': 'Pass'}
{'_id': ObjectId('666a905c93ebd6094eaabe30'), 'RollNo': 21, 'Name': 'Richy', 'Result': 'Pass'}
{'_id': ObjectId('666a89db93ebd6094eaabe2d'), 'RollNo': 7, 'Name': 'Mihir', 'Adress': 'St.12 City Square'}
{'_id': ObjectId('666a89db93ebd6094eaabe2b'), 'RollNo': 6, 'Name': 'Max', 'Result': 'Pass'}
{'_id': ObjectId('666a905c93ebd6094eaabe36'), 'RollNo': 6, 'Name': 'Max', 'Result': 'Pass'}
{'_id': ObjectId('666a905c93ebd6094eaabe31'), 'RollNo': 15, 'Name': 'Karl', 'Phone': 345123}
{'_id': ObjectId('666a905c93ebd6094eaabe32'), 'RollNo': 17, 'Name': 'Gimmy', 'Adress': '12,Saket'}
{'_id': ObjectId('666a89db93ebd6094eaabe2c'), 'RollNo': 5, 'Name': 'Emmy', 'Phone': 12345}
{'_id': ObjectId('666a905c93ebd6094eaabe34'), 'RollNo': 3, 'Name': 'Dennisy', 'Result': 'Pass'}
{'_id': ObjectId('666a905c93ebd6094eaabe2f'), 'RollNo': 11, 'Name': 'Bambi', 'email': 'bam@anymail.com'}
{'_id': ObjectId('666a89db93ebd6094eaabe2e'), 'TEACHER': ['Anurag Kashyap', 'M.Hamel', 'Sadao Hoki']}
{'_id': ObjectId('666a905c93ebd6094eaabe37'), 'Helping Staff': ['Mira Patel', 'E.Cook', 'Sadao Hoki']}

In [33]:
for j in coll_create.find().sort('RollNo',1):
    print(j)

{'_id': ObjectId('666a89db93ebd6094eaabe2e'), 'TEACHER': ['Anurag Kashyap', 'M.Hamel', 'Sadao Hoki']}
{'_id': ObjectId('666a905c93ebd6094eaabe37'), 'Helping Staff': ['Mira Patel', 'E.Cook', 'Sadao Hoki']}
{'_id': ObjectId('666a87c493ebd6094eaabe29'), 'RollNo': 1, 'Name': 'Tanmay', 'email': 'iamtnmy01@gmail.com'}
{'_id': ObjectId('666a89db93ebd6094eaabe2a'), 'RollNo': 2, 'Name': 'Utkarsh', 'email': 'utk@anymail.com'}
{'_id': ObjectId('666a905c93ebd6094eaabe34'), 'RollNo': 3, 'Name': 'Dennisy', 'Result': 'Pass'}
{'_id': ObjectId('666a89db93ebd6094eaabe2c'), 'RollNo': 5, 'Name': 'Emmy', 'Phone': 12345}
{'_id': ObjectId('666a89db93ebd6094eaabe2b'), 'RollNo': 6, 'Name': 'Max', 'Result': 'Pass'}
{'_id': ObjectId('666a905c93ebd6094eaabe36'), 'RollNo': 6, 'Name': 'Max', 'Result': 'Pass'}
{'_id': ObjectId('666a89db93ebd6094eaabe2d'), 'RollNo': 7, 'Name': 'Mihir', 'Adress': 'St.12 City Square'}
{'_id': ObjectId('666a905c93ebd6094eaabe33'), 'RollNo': 9, 'Name': 'Tim', 'Result': 'Fail'}
{'_id': ObjectId('666a905c93ebd6094eaabe2f'), 'RollNo': 11, 'Name': 'Bambi', 'email': 'bam@anymail.com'}
{'_id': ObjectId('666a905c93ebd6094eaabe35'), 'RollNo': 12, 'Name': 'Sinton', 'Result': 'Pass'}
{'_id': ObjectId('666a905c93ebd6094eaabe31'), 'RollNo': 15, 'Name': 'Karl', 'Phone': 345123}
{'_id': ObjectId('666a905c93ebd6094eaabe32'), 'RollNo': 17, 'Name': 'Gimmy', 'Adress': '12,Saket'}
{'_id': ObjectId('666a905c93ebd6094eaabe30'), 'RollNo': 21, 'Name': 'Richy', 'Result': 'Pass'}

### Q7. Explain why delete_one(), delete_many(), and drop() is used.

*delete_one()*<br>
Purpose: Deletes a single document that matches the specified filter.<br>
Usage: When you want to remove a specific document from a collection.<br>
Behavior: If multiple documents match the filter, only the first matching document will be deleted.<br>

*delete_many()*<br>
Purpose: Deletes all documents that match the specified filter.<br>
Usage: When you want to remove multiple documents that meet certain criteria.<br>
Behavior: Deletes all documents that match the filter.<br>

*drop()*<br>
Purpose: Deletes an entire collection.<br>
Usage: When you want to remove all documents in a collection and the collection itself.<br>
Behavior: Completely removes the collection and all its documents from the database.

In [34]:
result = coll_create.delete_one({"Name": "Sinton"})
print(f"Deleted {result.deleted_count} document(s)")

Deleted 1 document(s)

In [37]:
result = coll_create.delete_many({"Result": "Pass"})
print(f"Deleted {result.deleted_count} document(s)")

Deleted 4 document(s)

In [39]:
coll_create.drop()
print("Collection Dropped")

Collection Dropped

In [41]:
client.close()
print('Connection to MongoDB closed')

Connection to MongoDB closed