### Q1. What is a database? Differentiate between SQl and NoSQL databases.
A database is an electronically stored, systematic collection of data.
It can contain any type of data, including words, numbers, images, videos, and files. 
You can use software called a database management system (DBMS) to store, retrieve, and edit data.

| SQL | NoSQL |
|---|---|
| 'Structured Query Language' |  'Not only SQL'|
| are primarily called Relational Databases (RDBMS). | are primarily called non-relational or distributed databases. |
| Data is stored in tabular form. | Data is stored in many ways which means it can be document-oriented, column-oriented, graph-based, or organized as a key-value store. |
|Examples: MySQL, PostgreSQL, Oracle, MS-SQL Server, etc | Examples: MongoDB, HBase, Neo4j, Cassandra, etc|

### Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL or Data Definition Language actually consists of the SQL commands that can be used to define the database schema.
It simply deals with descriptions of the database schema and is used to create and modify,
the structure of database objects in the database.
DDL is a set of SQL commands used to create, modify, and delete database structures but not data.

CREATE <br>
Create database or its objects (table, index, function, views, store procedure, and triggers). <br>
e.g. " CREATE TABLE students (RollNo INT, student_name VARCHAR(30), result VARCHAR(10)); " <br>
<br>
DROP<br>
Delete objects from the database <br>
e.g. " DROP TABLE students; "<br>
<br>
ALTER <br>
Alter the structure of the database <br>
e.g. " ALTER TABLE students ADD COLUMN class VARCHAR; "<br>
<br>
TRUNCATE<br>
Remove all records from a table, including all spaces allocated for the records are removed.<br>	
e.g. " TRUNCATE TABLE table_name; <br>

### Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

The SQL commands that deal with the manipulation of data present in the database belong to DML
or Data Manipulation Language and this includes most of the SQL statements.<br>

INSERT <br>
Insert data into a table <br>	
e.g. " INSERT INTO students(rollno,name,result,class) VALUES (1001,'Jam','Pass','Fifth'); " <br>

UPDATE <br>
existing data within a table <br>
e.g. " UPDATE students SET result = 'Fail' WHERE RollNo=1001; " <br>

DELETE <br>	
Delete records from a database table <br>	
e.g. " DELETE FROM student WHERE RollNo=1001; " <br>

### Q4. What is DQL? Explain SELECT with an example.

DQL (Data Query Language) statements are used for performing queries on the data within schema objects. The purpose of the DQL Command is to get some schema relation based on the query passed to it.<br>

There is only one DQL command in SQL i.e. SELECT<br>

SELECT<br>
It is used to retrieve data from the database.<br>
e.g. " SELECT RollNo,results FROM students; "

### Q5. Explain Primary Key and Foreign Key.

PRIMARY KEY<br>
A unique identifier for each row in a table, such as an employee ID, first name, or last name. 
Primary keys enforce entity integrity and ensure uniqueness and data integrity within a single table.
They can be made from one or more table fields and only one primary key is allowed per table.
Primary key values rarely change and cannot contain null values or duplicates.<br>

FOREIGN KEY<br>
A column or group of columns that establishes a relationship between two tables by referencing the primary key of another table. 
Foreign keys ensure data consistency and accuracy. 
For example, in an orders table, a foreign key could associate each row with a specific user from a users table.
This would prevent orders from entering the system unless they are connected to a valid, existing user.
A table can have more than one foreign key, and foreign key values can be null unless the column is defined as NOT NULL.

### Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

The cursor() and execute() commands in Python are used to interact with databases. The cursor() command creates a cursor object, which is used to execute SQL statements. The execute() command executes an SQL statement on the database.

below is the example given:-


----------------<br>
import mysql.connector<br>
#Create a connection to the database<br>
connection = mysql.connector.connect(host='localhost',
                                         database='my_database',
                                         user='root',
                                         password='my_password')<br>

#Create a cursor object<br>
cursor = connection.cursor()<br>

#Execute an SQL statement<br>
cursor.execute('SELECT * FROM my_table')<br>

#Get the results of the query<br>
results = cursor.fetchall()<br>

#Print the results<br>
for row in results:<br>
print(row)<br>

#Close the cursor and the connection<br>
cursor.close()<br>
connection.close()<br>

### Q7. Give the order of execution of SQL clauses in an SQL query.

Order of execution is:- <br>
FROM/JOIN: Determines the data of interest.<br>
WHERE: Filters out records that don't meet the constraints.<br>
GROUP BY: Groups information based on one or more columns.<br>
HAVING: Filters the grouped data.<br>
SELECT: The last clause.<br>
ORDER BY: Sorts the data based on specific column(s) in ascending or descending order.<br>
LIMIT/OFFSET: Displays only the rows that fall within the LIMIT.<br>