### Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [1]:
import pandas as pd

In [2]:
df_series=pd.DataFrame(
    { "series" : [4,8,15,16,23,42]
    }
)

print(df_series.series)

0     4
1     8
2    15
3    16
4    23
5    42
Name: series, dtype: int64

### Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.

In [3]:
# creating list
sample_list=[i for i in range(10,21)]
print(f'Dtype of list: {type(sample_list)}')

# type casting to panda.Series
sample_list=pd.Series(sample_list)

print(f"Dtype of variable 'sample_list' now : {type(sample_list)}")
print(sample_list)

Dtype of list: <class 'list'>
Dtype of variable 'sample_list' now : <class 'pandas.core.series.Series'>
0     10
1     11
2     12
3     13
4     14
5     15
6     16
7     17
8     18
9     19
10    20
dtype: int64

In [4]:
sample_list

0     10
1     11
2     12
3     13
4     14
5     15
6     16
7     17
8     18
9     19
10    20
dtype: int64

### Q3. Create a Pandas DataFrame that contains the following data:
|Name|Age|Gender|
|----------|----------|----------|
|Alice|25|Female|
|Bob|30|Male|
|Claire|27|Female|

In [5]:
df1=pd.DataFrame(
    {
        'Name' : ['Alice', 'Bob', 'Gender'],
        'Age'  : [25,30,27],
        'Gender': ['Female','Male','Female']
    }
)

print(df1)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Gender   27  Female

### Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

**Dataframe(2-Dim) and Series(1-Dim) are two primary datastructures of pandas,**
<br>
*A DataFrame is a 2-dimensional data structure that can store data of different types (including characters, integers, floating point values, categorical data and more) in columns.*
<br>
*Each column in a DataFrame is a Series. When selecting a single column of a pandas DataFrame, the result is a pandas Series.*
<br><br>
**Difference**
<br>
**DataFrame:** Suitable for handling and manipulating tabular data with multiple columns. Each column can be of a different data type.
<br>
**Series:** Suitable for handling a single column of data or a one-dimensional array.
<br><br>
Example given below:-

In [7]:
# Consider the question 3

# printing the dataframe df1
print('Dataframe :\n',df1)

# printing the series
print('\nSeries :\n',df1['Age'])

Dataframe :
      Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Gender   27  Female

Series :
 0    25
1    30
2    27
Name: Age, dtype: int64

### Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?

*Some common functions of pandas are:-*
<br>
**head() and tail():** To view the first or last few rows of the DataFrame.
<br>
**info():** To get a concise summary of the DataFrame.
<br>
**describe():** To get summary statistics of the DataFrame.
<br>
**shape:** To get the dimensions of the DataFrame.
<br>
**columns and index:** To get the column and index labels.
<br>
**dtypes:** To get the data types of each column.
<br>
**sort_values():** To sort the DataFrame by the values of one or more columns.
<br>

Example of 'sort_values()' is given below:-

In [8]:
# consider the dataframe from ques.3
print(df1,'\n\n')

# printing the sorted dataframe
print('Sorted dataframe (by-Age):-\n\n',df1.sort_values(by=['Age']))

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Gender   27  Female


Sorted dataframe (by-Age):-

      Name  Age  Gender
0   Alice   25  Female
2  Gender   27  Female
1     Bob   30    Male

### Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

*In pandas, both `Series` and `DataFrame` are mutable in nature. This means you can modify their contents after they are created. On the other hand, `Panel` was a three-dimensional data structure in pandas, which is now deprecated and has been removed in newer versions of pandas (starting from version 1.0.0).*

- **Series**: A one-dimensional array-like object that can hold any data type. You can modify its elements, add new elements, or remove existing ones.
- **DataFrame**: A two-dimensional, size-mutable, and potentially heterogeneous tabular data structure with labeled axes (rows and columns). You can modify its data, add or remove rows and columns, and change the data types of its columns.
- **Panel**: Deprecated and no longer available in newer versions of pandas.

In [9]:
# Modifying a series

# Create a Series
s = pd.Series([1, 2, 3, 4, 5])
print(s)

# Modify an element
s[0] = 98
print(s)

0    1
1    2
2    3
3    4
4    5
dtype: int64
0    98
1     2
2     3
3     4
4     5
dtype: int64

In [10]:
# Modifying Dataframe

data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35]
}
df2 = pd.DataFrame(data)

# Modify a column value
df2.loc[0, 'Age'] = 28

# Add a new column
df2['City'] = ['New York', 'Los Angeles', 'Chicago']

print(df2)

      Name  Age         City
0    Alice   28     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago

### Q7. Create a DataFrame using multiple Series. Explain with an example.

In [11]:
# creating a dataframe using multiple series

# creating series
stud_name=pd.Series(['Akansha Verma', 'Vikky D', 'Amy JSon'])
stud_class=pd.Series([6,8,4])
stud_grade=pd.Series(['A','B+','A'])

# creating dataframes
df2=pd.DataFrame(
    {
    'Name':stud_name,
    'Class':stud_class,
    'Grade':stud_grade
    }
)

print(df2)

            Name  Class Grade
0  Akansha Verma      6     A
1        Vikky D      8    B+
2       Amy JSon      4     A