## **Q1. How do you comment code in Python? What are the different types of comments?**

### Comments are used to explain the parts of code,to make python code more readable,to skip execution of commented part of code.
### Comments are of two types *single line comment* and *multi-line comment*.
### We can comment  in python in two ways:- 
### 1. Using triple hash ' ### ' (single line comment)
### 2. Using triple quotes ' """ ' (multi-line comment)
### below are given examples to illustrate further

In [1]:
# this is a single line comment

In [2]:
# this is 
# a multi-line comment
# using '#'

In [3]:
"""
this is a
multi line
comment
"""
print("comments are fun")

comments are fun

In [4]:
# python does not execute code after ' # ' 
# print("Hello") 
print("World") #this is also a comment

World

## **Q2. What are variables in Python? How do you declare and assign values to variables?**

### Variables are used *to store data values*, just like containers.
### In python, we don't need to declare a variable with specefic data type.
### It is declared the moment when we assign any data value to it.
### note:- varible name can't be start from a number and special character.
### below are the examples given

In [5]:
var1=3 # varible declared, named ' var1 ' is assigned int data type value

In [6]:
var1

3

In [7]:
var2='This is string data type variable'

In [8]:
var2

'This is string data type variable'

In [9]:
var3=4.425

In [10]:
var3

4.425

## **Q3. How do you convert one data type to another in Python?**

### To convert a variable from one data type to another in python we can simply assign (or update) with new value of desired data type or we can do type casting.

In [11]:
var4=45 # this is 'Int' data type variabe

In [12]:
var4

45

In [13]:
type(var4)

int

In [14]:
var4=3+7j # data type of variable ' var4 ' changed to complex data type

In [15]:
var4

(3+7j)

In [16]:
type(var4)

complex

In [17]:
var5=56.525

In [18]:
var5

56.525

In [19]:
type(var5)

float

In [20]:
var5=int(var5) # variable ' var5 ' typecasted to int from float data type.

In [21]:
var5

56

In [22]:
type(var5)

int

In [23]:
# another example
var6='72.450' # str data type

In [24]:
var6

'72.450'

In [25]:
type(var6)

str

In [26]:
var6=float(var6)

In [27]:
var6

72.45

In [28]:
type(var6)

float

## **Q4. How do you write and execute a Python script from the command line?**

### Step1. Write a python code in notepad or in any other program and save it as '.py' extension.
### Step2. Open comand prompt and change directory to where your '.py' file is saved.
### Step3. There type 'python your_file_name.py' and your python script will be executed.

## **Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].**

In [29]:
my_list=[1,2,3,4,5]
my_list[1:3:] # list[ start : end : index_jump ]

[2, 3]

## **Q6. What is a complex number in mathematics, and how is it represented in Python?**

### In mathematics, Complex Numbers are introduced to get solution for these type of equations $( x^2=-1 )$, for which solution cannot be obtained in real numbers.
### Complex numbers are expressed in form of $a+ib$, where 'a' is called real part and 'b' is called imaginary part.
### 'i' is called iota and have value $i = (-1)^(1/2)$
### In python iota is represented by letter 'j', a complex number looks like $a+jb$
### We can get real and imaginary parts by using complex_number.real and complex_number.imag

In [30]:
com_var1=5+9j

In [31]:
com_var2=3+7j

In [32]:
com_var1+com_var2

(8+16j)

In [33]:
com_var1.imag

9.0

In [34]:
com_var1.real

5.0

In [35]:
# another example
a=45
b=34
c=complex(a,b)

In [36]:
c

(45+34j)

In [37]:
type(c)

complex

## **Q7. What is the correct way to declare a variable named age and assign the value 25 to it?**

### >A variable name can be start from a letter or an underscore ( ' _ ' ).
### >A variable name cannot be start from a number or a special character.
### >A varible name should not be a python reserved word.
### >Varible names are case sensitive 'age' and 'Age' are two different variables.
### >A varible name should be relevant.

In [38]:
age=25

In [39]:
age

25

## **Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable belong to**

### It belongs to float data type.

In [40]:
price=9.99

In [41]:
type(price)

float

## **Q9. Create a variable named name and assign your full name to it as a string. How would you print the value of this variable?**

In [42]:
name='Tanmay Sharma'

In [43]:
# method 1
print(name)

Tanmay Sharma

In [44]:
# method 2
name[::]

'Tanmay Sharma'

In [45]:
# method 3
for i in name:
    print(i,end='')

Tanmay Sharma

## **Q10. Given the string "Hello, World!", extract the substring "World".**

In [46]:
string1='Hello, World!'

In [47]:
string1[7:12:]

'World'

## **Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you are currently a student or not**

In [48]:
is_student=int(input('Input value'))
if is_student==True:
    print('You are a student.')
elif is_student==False:
    print('You are not a student.')
else:
    print('Wrong input. Please enter only boolean values 0 or 1')

Input value 0

You are not a student.