In [1]:
"""
Q1. Create one variable containing following type of data:
(i)string
(ii)list
(iii)float
(iv)tuple
"""

s="name"
l=[2,3.141,"name"]
f=6.282
t=("pen","pencil","eraser")

"""
Q2. Given are some following variables containing data:
(i)	var1 = ‘ ‘
(ii)var2 = ‘[ DS , ML , Python]’
(iii)var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv)var4 = 1.
What will be the data type of the above given variable.
"""

"""
Answers
(i)str (string)
(ii)str (string)
(iii)list
(iv)int
"""

In [4]:
"""
Q3. Explain the use of the following operators using an example:
(i)/
(ii)% 
(iii)//
(iv)**
"""

a,b=22,3

print(a/b)   # '/'  division operator is used to perform division between two numbers.
print(a%b)   # "%'  modulo operator is used to get remainder(integer) when one number divides another number.
print(a//b)  # '//' floor divsion operator is used to get rounded off number (nearest to whole) when we perform divion between two numbers.
print(a**b)  # "**' exponential operator is used to return the result of raising the first operand to the power of the second operand.

7.333333333333333
1
7
10648

In [5]:
"""
Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.
"""

mylist=[101,2.34,3+4j,"Hello",True,6+5,7.0539,8j,"World",False]
for i in mylist:
    print(i)
    print(type(i))

101
<class 'int'>
2.34
<class 'float'>
(3+4j)
<class 'complex'>
Hello
<class 'str'>
True
<class 'bool'>
11
<class 'int'>
7.0539
<class 'float'>
8j
<class 'complex'>
World
<class 'str'>
False
<class 'bool'>

In [2]:
"""
Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.
"""
print("Input two numbers to check if it is purely divisble by another or not")
a=int(input("a="))
b=int(input("b="))
i=0
while i<1:
    i+=1
    if a%b==0:
        c=int(a/b)
        print(a,"is purely divisible by",b,",",c,"times.")
    else:
        print(a,"is not purely divisble by",b)

Input two numbers to check if it is purely divisble by another or not

a= 56
b= 4

56 is purely divisible by 4 , 14 times.

In [4]:
"""
Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.
"""
newlist=[45,87,76,13,568,437,907,56,39,98,702,453,590,721,777,547,886,45,912,423,109,854,956,654,234]

for i in newlist:
    print(i)
    if i%3==0:
        print(i,"is divible by 3")
    else:
        print(i,"is not divible by 3")

45
45 is divible by 3
87
87 is divible by 3
76
76 is not divible by 3
13
13 is not divible by 3
568
568 is not divible by 3
437
437 is not divible by 3
907
907 is not divible by 3
56
56 is not divible by 3
39
39 is divible by 3
98
98 is not divible by 3
702
702 is divible by 3
453
453 is divible by 3
590
590 is not divible by 3
721
721 is not divible by 3
777
777 is divible by 3
547
547 is not divible by 3
886
886 is not divible by 3
45
45 is divible by 3
912
912 is divible by 3
423
423 is divible by 3
109
109 is not divible by 3
854
854 is not divible by 3
956
956 is not divible by 3
654
654 is divible by 3
234
234 is divible by 3

In [7]:
"""
Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.
"""
# Mutable objects are objects which can be modified after creation. 'List' is a type of mutable object.
mylist=[35,"Hello",3.141]
print(mylist)
mylist[1]="World" # modification/change in value
print(mylist)

# Immutable objects are objects which cannot be modified once created. "String" is a type of immutable object.
name="Goddins"
print(name)
for i in name:
    print(i)    # but "name" cannot be modified.
                # the code statement 'name[2]=e' gonna result in error ''str' object does not support item assignment'.

[35, 'Hello', 3.141]
[35, 'World', 3.141]
Goddins
G
o
d
d
i
n
s